<div class="container">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLading">
  <div class="card">
    <div class="card-header">List des clients</div>
    <div class="card-body">
      <div *ngIf="searchFormGroup">
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
          <div class="input-group">
            <label class="input-group-text">Keyword:</label>
            <input type="text" formControlName="keyword" class="form-control">
            <button class="btn btn-info">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers | async">

          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td >
            <button (click)="handleDeleteCustomer(c)" class="btn btn-danger">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </ng-container>
  <ng-template #failureOrLading >
    <ng-container *ngIf="errorMesaage;else loading">
      <div class="text-danger">
        {{errorMesaage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading...
    </ng-template>
  </ng-template>
</div>
